<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div style="margin-bottom: 10px;">Pengguna</div>
  <input type="text" #userFirstname placeholder="Nama Depan" style="margin-bottom: 5px;"><br>
  <input type="text" #userLastname placeholder="Nama Belakang" style="margin-bottom: 5px;"><br>
  <input type="text" #userMail placeholder="Email" style="margin-bottom: 5px;"><br>
  <input type="password" #userPass placeholder="Kata Sandi" style="margin-bottom: 10px;"><br>
<button type="button" (click)="regUser(userFirstname.value, userLastname.value, userMail.value, userPass.value)">Register</button>
<ul>
  <li *ngFor="let user of userlist">
    {{ user.firstname }} {{ user.lastname }}
  </li>
</ul>